<h1>Reviews for <%= @restaurant.name %></h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
<%= f.input :content %>
<%= f.input :rating %>
<%= f.submit "add your lovely review, everybody is dying to hear what you have to tell", class: 'btn btn-primary' %>
<% end %>
